<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue JS</title>

    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">

</head>

<body>

    <div class="container mt-4" id="app">
        <form>
            <div class="form-group">
                <label>Email address</label>
                <input v-model="email" type="email" class="form-control" aria-describedby="emailHelp">
                <small v-if="email != 'chachanurholis29@gmail.com'"
                    class="form-text text-danger">{{ validationEmail }}</small>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input v-model="password" type="password" class="form-control">
                <small v-if="password != 'password'" class="form-text text-danger">{{ validationPassword }}</small>
            </div>
            <!-- <button type="submit" class="btn btn-primary">Login</button> -->
        </form>
    </div>

</body>

<script src="assets/vendor/vue.js"></script>
<script src="assets/js/app.js"></script>

</html>